* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: 4rem;
  min-height: 100vh;
}

header {
  grid-area: nav;
}

footer {
  grid-area: footer;
  padding: 0 6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  line-height: 1.6;
  padding: 20px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 6rem;
}
h1,
h2,
h3 {
  color: var(--color-primary-blue);
  margin-bottom: 15px;
}
p {
  margin-bottom: 10px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-h5-medium {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-relaxed);
}

.container-box {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.container-box .container {
  background-color: var(--color-bg-secondary);
  display: flex;
  padding: 1rem;
  gap: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
  transition: all 0.5s;
}

.div-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-about {
  text-align: center;
  margin-bottom: 2rem;
}

#login:hover,
#sign-up:hover {
  background-color: var(--color-primary-blue-alpha-80);
  border: 1px solid var(--color-primary-blue-alpha-80);
  transform: translateY(3px);
}

button {
  cursor: pointer;
  transition: all 0.5s;
}

.container-box .container:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  transition: all 0.5s;
}