* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--color-text-primary);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blueviolet;
}

.bigCard{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 842px;
    height: 650px;
    background-color: var(--color-bg-primary);
    box-shadow: 0 4px 8px var(--color-black-alpha-20);
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-border-tertiary);
    overflow-y: auto;
}

.hero-img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.emoji-icon{
    font-size: 3rem;
    margin-top: -30px;
    background-color: var(--color-bg-primary);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px var(--color-black-alpha-20);
    border: 1px solid var(--color-border-tertiary);
}