@import url("../../asset/colors.css");
@import url("../../asset/fontSize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto 60px; 
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    gap: 4rem;
}
header{
    grid-area: nav;
}
main{
    grid-area: main;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    gap: 12rem;
    padding: 0 6rem;
}
.heroSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description{
    width: 45%;
}
h1{
    color: var(--color-text-primary);
    font-size: var(--font-size-hero);
    line-height: 1;
}
h2{
    color: var(--color-text-primary);
    margin-bottom: 20px;
}
.mainText{
    color: var(--color-primary-blue);
    font-size: var(--font-size-h1);

}
.headerText{
    margin-bottom: 5px;
}

main span{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: var(--color-text-accent);
    font-size: var(--font-size-h4);
}
main p{
    color: var(--color-text-primary);
    font-size: var(--font-size-h4);
}
button{
    cursor: pointer;
    transition: all 0.5s;
}
#get-started{
    background-color: var(--color-primary-blue);
    color: var(--color-text-primary);
    font-size: var(--font-size-h4);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-primary-blue);
}
#get-started:hover, #login:hover, #sign-up:hover{
    background-color: var(--color-primary-blue-alpha-80);
    border: 1px solid var(--color-primary-blue-alpha-80);
    transform: translateY(3px);

}
.features .text{
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 8px;
}
.text h2{
    font-size: var(--font-size-h2);
    margin-bottom: 2rem;
}
.text h2:last-child{
    color: var(--color-text-accent);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-bg-secondary);
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: var(--shadow-sm);
    transition: all 0.5s;
}
.card img{
    height: 66px;
    width: 66px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.card h3{
    color: var(--color-text-primary);
}
.card p{
    color: var(--color-text-secondary);
}
.card:hover{
    transform: translateY(-5px);
}
footer{
    grid-area: footer;
}
hr {
    width: 100%;
  height: 1.5px;
  background-color: white;
  border: none;
}