* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.grid-container {
  display: grid;
  /* grid-template-rows: auto auto auto; */
  grid-template-areas:
    "nav"
    "main"
    "footer";
  gap: 4rem;
  justify-items: center;
}
header {
  grid-area: nav;
}
main {
  grid-area: main;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  padding: 0 1rem;
  min-width: 374px;
}
.heroSection {
  display: grid;
  grid-template-columns: 0.8fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}
.description{
  width: 100%;
}
.mainImg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainImg img {
  height: 370px;
  aspect-ratio: 1/1;
}
h1 {
  color: var(--color-text-primary);
  font-size: var(--font-size-hero);
  line-height: 1;
}
h2 {
  font-size: var(--font-size-h2);
}
.features h2 {
  color: var(--color-text-primary);
  margin-bottom: 20px;
  font-size: var(--font-size-h2);

}
.mainText {
  color: var(--color-primary-blue);
  font-size: var(--font-size-h1);
}
.headerText {
  margin-bottom: 5px;
}

main span {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: var(--color-text-accent);
  font-size: var(--font-size-h4);
}
main p {
  color: var(--color-text-primary);
  font-size: var(--font-size-h4);
}
button {
  cursor: pointer;
  transition: all 0.5s;
}
#get-started {
  background-color: var(--color-primary-blue);
  color: var(--color-text-primary);
  font-size: var(--font-size-h4);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-primary-blue);
}
#get-started:hover,
#login:hover,
#sign-up:hover {
  background-color: var(--color-primary-blue-alpha-80);
  border: 1px solid var(--color-primary-blue-alpha-80);
  transform: translateY(3px);
}

.features .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.text h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 2rem;
}
.text h2:last-child {
  color: var(--color-text-accent);
}
.card-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  padding: 1rem;
  gap: 2rem;
  justify-items: center;
}

.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-secondary);
  padding: 10px;
  gap: 10px;
  border-radius: 15px;
  box-shadow: var(--shadow-sm);
  transition: all 0.5s;
}
.card img {
  height: 66px;
  width: 66px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.card h3 {
  color: var(--color-text-primary);
}
.card p {
  color: var(--color-text-secondary);
  text-align: center;
}
.card:hover {
  transform: translateY(-5px);
}
footer {
  grid-area: footer;
  padding: 0 1rem;
}


@media (min-width: 768px) {
  main {
    padding: 0 6rem;
  }
  .heroSection {
    grid-template-columns: minmax(500px, 1fr);
  }
  .mainText {
    font-size: var(--font-size-h2);
  }
  .features .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .heroSection {
    grid-template-columns: 1fr 0.8fr;
  }
  .features .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .mainText {
    font-size: var(--font-size-h1);
  }
}
