@import url("../../asset/colors.css");
@import url("../../asset/fontSize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto 60px; 
    grid-template-areas: 
    "nav nav nav"
    "main main main";
    gap: 2rem;
}
header{
    grid-area: nav;
}
main{
    grid-area: main;
    /* background-color: antiquewhite; */
}
.heroSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.description{
    width: 40%;
}
h1{
    color: var(--color-text-primary);
    font-size: var(--font-size-hero);
    line-height: 1;
}
h2{
    color: var(--color-text-primary);
    margin-bottom: 20px;
}
.mainText{
    color: var(--color-primary-blue);
    font-size: var(--font-size-h1);

}
.headerText{
    margin-bottom: 5px;
}
main span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-accent);
    font-size: var(--font-size-h4);
}
main p{
    color: var(--color-text-primary);
    font-size: var(--font-size-h4);
}
button{
    cursor: pointer;
    transition: all 0.5s;
}
#get-started{
    background-color: var(--color-primary-blue);
    color: var(--color-text-primary);
    font-size: var(--font-size-h4);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-primary-blue);
}
#get-started:hover, #login:hover, #sign-up:hover{
    background-color: var(--color-primary-blue-alpha-80);
    border: 1px solid var(--color-primary-blue-alpha-80);
    transform: translateY(3px);

}
.featuresText{
    display: flex;
    justify-content: center;
    margin-top: 40px; 
    margin-bottom: 30px;  
}