* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--color-text-primary);
}

body{
    background-color: var(--color-bg-primary);
}

.bgImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 350px;
    overflow: hidden;
}

.bgImg img {
    width: 100%;
    height: 350px;
    object-fit: cover;  
}

.travel1 {
    position: absolute;
    top: 275px;
    left: 60px;
    color: var(--color-text-on-img);
    font-size: 3rem;
    font-weight: 700;
}
